.app.light {
  --bg-color: #a7a7ce;
  --inverted-bg-color: #15154b;

  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
